body {
  background-color: #f6ebf1;
  color: #3f3f42;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}


h1 {
  font-family: 'Playfair Display', Georgia, serif;
  color: #1c0f2b;
}

h1, h2 {
  text-align: center;
}


p {
  line-height: 1.6;
  text-align: left;
}


nav a {
  margin-right: 1rem;
  text-decoration: none;
}


footer {
  background-color: #ccc0ea;
  padding: 1rem;
  font-size: 1rem;
}