header, main {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #572636; 
}
footer {
    color:#cd775d;
    width: 80%;
    margin: 0 auto;
}
h2 {
    color: #8b4513; 
    margin-bottom: 10px;
}

h3 {
    color: #a0522d; 
    margin-top: 20px;
    margin-bottom: 8px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #e78263;
    text-decoration: none;
}

body {
    font-family: 'Neucha', sans-serif;
    background-color: #feeed9;
    color: #4b2e2e;
    line-height: 1.6;
    margin: 0;
}

img {
    width: 620px;
    height: 420px;
    object-fit: cover;
    border-radius: 15px;
}
nav {
    color: #873a25;
    display: flex;
    justify-content: center;
    gap: 12px;

    background: #3f2a22;
    padding: 12px;
    border-radius: 6px;
}
