<footer>
  <p>&copy; Alana's Amazing Website</p>
        <a href="https://github.com/AlananaG">GitHub</a> |
        <a href="https://webpages.charlotte.edu/agree179/">CLT Web</a> |
        <a href="https://AlananaG.github.io">GitHub.io</a> |
        <a href="https://www.linkedin.com/in/alana-green-20b548296/">LinkedIn</a> |
        <a href="firm.html"><Alananainspotlight class="com"></Alananainspotlight></a> |
        <a href="stuff/Me OwO ~.htm">Crappy webpage</a> |
        <a href="intro_form.html">Introduction form</a>
</footer>