<footer>
  <p>&copy; Alana's Amazing Website | Certified in <a href="highlight.html">Responsive Web Design</a></p>
        <a href="https://github.com/AlananaG">GitHub</a> |
        <a href="https://webpages.charlotte.edu/agree179/">CLT Web</a> |
        <a href="https://AlananaG.github.io">GitHub.io</a> |
        <a href="https://www.linkedin.com/in/alana-green-20b548296/">LinkedIn</a> |
        <a href="scripts/alananainspotlight.com/firm.html">Page created by Alana In Spotlight Consulting © 2026 </a> |
        <a href="stuff/Me OwO ~.htm">Crappy webpage</a> |
        <a href="intro_form.html">Introduction form</a> |
</footer>