<header>
    <h1>Alana Green's Ambitious Gecko | ITIS 3135</h1>
    <nav class="primary">
        <a href="survey.html">Survey</a> |
        <a href="gallery.html">Gallery</a> |
        <a href="inventory.html">Inventory</a> |
        <a href="instructions.html">Instructions</a> |
        <a href="highlight.html">Highlight</a> |
        <a href=""website_evaluations.html">Website Evaluations</a> |
        <a href="intro_form.html">Introduction form</a> |
        <a href="projects/project_overview.html">Project Overview</a> |
        <a href="projects/index.html">Client project</a> |
        <a href="projects/review1.html">Peer 1 evaluations</a> |
        <a href="projects/review2.html">Peer 2 evaluations</a>
    </nav>

    <nav class=""secondary">
        <a href="index.html">Home Page</a> |
        <a href="introduction.html">About Me</a> |
        <a href="contract.html">Contract Page</a> |
        <a href="stuff/Me OwO ~.html">Crappy page</a> |
        <a href="hobby/index.html">My hobby page</a> |
    </nav>

</header>